body {
    font-family: "Segoe UI";;
    font-size: 16px;
}

.body_wrapper {
    max-width: 800px;
    margin: 0 auto 50px auto;
}

.monitor {
    display: flex;
    flex-direction: column;
}

.monitor__row {
    display: flex;
    flex-direction: row;
}

header {
    border-bottom: 1px solid lightgrey;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}

header>* {
    margin-right: 16px;
}

header a {
    color: black;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

.total {
    margin-top: 16px;
}

.total--visits {
    margin-right: 50px;
}

.total span {
    font-weight: bold;
}

.total--visits span{
    color: #3e95cd;
}

.total--visitors span{
    color: #3cba9f;
}
