<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Dummy Page</title>
    </head>
    <body>
        <h1>Dummy Page</h1>

        <nav>
            <ul>
                <li><a href="/dummy/folder_a">Folder A</a></li>
                <li><a href="/dummy/folder_b">Folder B</a></li>
                <li><a href="/dummy/folder_c">Folder C</a></li>
                <li><a href="/dummy/folder_d">Folder D</a></li>
                <li><a href="/dummy/folder_e">Folder E</a></li>
            </ul>
        </nav>

    </body>
</html>
