{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Monitor visitors</title>
        <link rel="stylesheet" href="{% static 'visitors/main.css' %}">
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <script type="text/javascript">
            var VISITORS_API_URL = "{% url 'visitors:api' %}";
        </script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
        <div class="body_wrapper">
            <header>
                <a href="{% url 'visitors:monitor' %}"><b>Monitor visitors</b></a>
                <a href="{% url 'visitors:monitor' %}">Dashboard</a>
                <a href="{% url 'visitors:dump' %}">Dump</a>
            </header>
            <div class="monitor">
                <div class="monitor__row">
                    <div class="total total--visits">
                        Total visits: <span id="total_visits">0</span>
                    </div>
                    <div class="total total--visitors">
                        Total visitors: <span id="total_visitors">0</span>
                    </div>
                </div>
                <h2>Traffic Evolution</h2>
                <div class="monitor__row">
                    <canvas id="visits_linechart"></canvas>
                </div>
                <h2>Most Viewed Pages</h2>
                <div class="monitor__row">
                    <canvas id="paths_barchart"></canvas>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'visitors/main.js' %}"></script>
    </body>
</html>
